/* =========================
   Responsive.css
   Ajustes para pantallas pequeñas
========================= */

/* Tablets y pantallas medianas (<=1024px) */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav {
    margin-top: 0px;
  }
}
/* Móviles grandes (<=768px) */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  /* Header con hamburguesa */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100; /* encima del fondo */
  }

  /* Menú hamburguesa oculto/visible */
  nav {
    display: none;
    flex-direction: column;
    justify-content: center;   /* centra verticalmente */
    align-items: center;       /* centra horizontalmente */
    position: fixed;           /* ocupa toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-primary-blur);
    z-index: 99;
  }

  nav a {
    padding: 15px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-white);
    width: 100%;
    background: var(--color-primary-blur);
    box-sizing: border-box;
    margin-left: 0px;
  }

  nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
    z-index: 101; /* encima del menú */
  }

  /* Secciones en columnas */
  .hero,
  .contact-grid {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .products-grid,
  .gallery-grid,
  .testimonials-grid {
    gap: 20px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .hero img {
    max-width: 100%;
    border-radius: 12px;
    height: 29vh;
  }
  .card {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}


/* Móviles pequeños (<=480px) */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  .btn {
    padding: 10px 18px;
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.9rem;
  }
}
